[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git

[submodule "vim solarized"]
    path = vim/.vim/bundle/vim-colors-solarized
    url = git://github.com/altercation/vim-colors-solarized.git

[submodule "vim sensible"]
    path = vim/.vim/bundle/vim-sensible
    url = git@github.com:tpope/vim-sensible.git

