.DS_Store
.netrwhist
.Xauthority
.config/Bitcoin
.config/Code
.config/Chromium
.config/Element
.config/Freecad
.config/FreeCAD/FreeCAD.conf
.config/GIMP/2.10
.config/Riot
.config/Signal
.config/Slack
.config/autostart
.config/google-chrome
.config/brasero/application-settings
.config/bunkus.org/
.config/chromium/
.config/darktable
.config/easytag/
.config/dconf
.config/gtk-2.0
.config/gtk-3.0
.config/ibus
.config/inkscape
.config/libreoffice
.config/libreoffice/
.config/libvirt/
.config/menus
.config/nautilus/
.config/Rygel/
.config/
.config/session
.config/enchant/
.config/gnome-control-center/
.config/eog
.config/evince/